@CHARSET "UTF-8";

div.frontpanel {
	width:100%; height:250px;
	margin-top:10px;
}

div.frontpanel_label {
	float:left;
	width:200px;
	height:220px;
	border-right-style:dotted;
	border-right-width:1px;
	border-right-color:grey;
	margin-top:5px;
	margin-right:5px;
}

div.logoarea {
	z-index:100; 
	width:1000px; 
	height:150px; 
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
		
}

div.searchpanel {
	width:1000px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:2px;
}

/*div.searchpanel {
	width:800px;
	background-color:grey; 
	margin-left:auto; 
	margin-right:auto;
	margin-top:10px;
	padding-top:4px;
	padding-bottom:2px; 
}*/

div.frontpanel_icon {
	margin-left:auto;
	margin-right:auto;
	
}

div.fontpanel_caption {
	height:30px;
	border-bottom-style:dotted;
	border-bottom-width:2px; 
	
}

div.fontpanel_caption a {
	font-weight:bold;
	margin-left:15px;
	margin-top:2px;
}

img.frontpanel_icon {
	border-style:none;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:grey;
	padding-bottom:5px;
}

div.fontpanel_caption div.caption {
	float:left;
	
}

div.fontpanel_caption div.link {
	float:right;
}

div.frontpanel + div.frontpanel {
	margin-top:40px;
}